<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
	
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
		<div class="item active">
			<img src="${properties.image1}" alt="AEM 1" style="width:100%;height: 325px;">
			<div class="carousel-caption">
			<a href="blog.html#"><h3>Banner 1</h3></a>
			<p>Read more about this</p>
			</div>
		</div>
	
		<div class="item">
			<img src="assets/im" alt="AEM 2" style="width:100%;height: 325px;">
			<div class="carousel-caption">
			<a href="blog.html#"><h3>Banner 2</h3></a>
			<p>Read more about this</p>
			</div>
		</div>
		
		<div class="item">
			<img src="assets/img/carousel/3.jpeg" alt="AEM 3" style="width:100%;height: 325px;">
			<div class="carousel-caption">
			<a href="blog.html#"><h3>Banner 3</h3></a>
			<p>Read more about this</p>
			</div>
		</div>
		</div>